

.login-list-style {
	list-style: none;
}

.login-container {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.login-background {
	width: 60%;
	border: 1px solid orange;
	background: grey;
	opacity: .4;
}