<!--<ion-view title="CreateOrSignIn" hide-nav-bar="true" id="page4" class=" ">
    <ion-content padding="true" style="background: url(img/UUBxQvVIRs231obhuVI3_The-vineyard.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
        <div class="spacer" style="height: 100px;"></div>
        <div class="spacer" style="height: 100px;"></div>
        <a ui-sref="signIn" id="createOrSignIn-button2" class=" button button-positive  button-block icon-left ion-email ">Log In with Email</a>
        <button id="createOrSignIn-button3" class=" button button-positive  button-block icon-left ion-social-facebook ">Log In with Facebook</button>
        <a ui-sref="signup" id="createOrSignIn-button4" class=" button button-positive  button-block icon-left ion-android-add ">Create an Account</a>
        <a ui-sref="menu.map" id="createOrSignIn-button5" class=" button button-dark  button-block ">Continue without an Account</a>
    </ion-content>
</ion-view>-->